@model List<StudentManagementSystem.Data.SinavNot>
@inject IHttpContextAccessor HttpContextAccessor


    @{
        ViewData["Title"] = "Kullanıcı Listesi";
    }
    @{
        var kullaniciRol = HttpContextAccessor.HttpContext.Session.GetString("KullaniciRol");
    }
    @if (kullaniciRol == "Bölüm Sekreteri" || kullaniciRol == "Bölüm Başkanı")
    {
<h2>Sınav Notları</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ders</th>
            <th>Not</th>
            <th>Ekleyen Öğretmen</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Sinav?.Ders?.DersAdi</td>
                <td>@item.NotMetni</td>
                <td>@item.OgretimElemani?.AdSoyad</td>
                <td>@item.EklenmeTarihi.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
    }else if (string.IsNullOrEmpty(kullaniciRol))
    {
        <div class="text-center mt-5">
            <h3>Lütfen Giriş Yapın</h3>
            <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Giriş Yap</a>
        </div>
    }else
    {
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        <span class="text-center">
                            Bu sayfa için yetkiniz yok!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }